Source: tcf
Section: net
Priority: optional
Maintainer: Tim Orling <timothy.t.orling@linux.intel.com>
Uploaders: Tim Orling <timothy.t.orling@linux.intel.com>
Build-Depends: debhelper (>= 11.0.0), dh-python,
 python | python-all | python-dev | python-all-dev,
 python-setuptools, docbook-xsl, xsltproc
X-Python-Version: 2.7
Standards-Version: 3.9.6
Homepage: http://github.com/intel/tcf
Vcs-Git: https://github.com/moto-timo/pkg-tcf.git
Vcs-Browser: https://github.com/moto-timo/pkg-tcf

Package: tcf
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: TCF client
 This is the client and meta-testcase runner for the TCF test case framework.

Package: ttbd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Test Target Broker Daemon (TCF server)
 This is the server; this manages test targets connected to them, serving as
 a proxy to the test cases being run by tcf on behalf of users.
